<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ae3d50e6-a188-4ee5-9183-d23eca9f257e/resourceGroups/Luxury-Paint-Johnson/providers/Microsoft.Web/sites/LuxuryPaintAPI</ResourceId>
    <ResourceGroup>Luxury-Paint-Johnson</ResourceGroup>
    <ApiResourceId>/subscriptions/ae3d50e6-a188-4ee5-9183-d23eca9f257e/resourceGroups/Luxury-Paint-Johnson/providers/Microsoft.ApiManagement/service/LuxuryPaintJohnsonAPIapi/apis/LuxuryPaintJohnsonAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://luxurypaintapi-dmb6a2bdecesggdk.centralus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>c6c3a47a-7c14-4879-a08b-06195e99cd54</ProjectGuid>
    <MSDeployServiceURL>luxurypaintapi-dmb6a2bdecesggdk.scm.centralus-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LuxuryPaintAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>